<a href="https://www.kaggle.com/elakapoor/basics-of-data-analysis?scriptVersionId=87544388" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-of-energy-production-trade-consumption/SYB64_263_202110_Production Trade and Supply of Energy.csv

This notebook is for those who have just started in the field of data analysis. It shows the basic commands that are used for almost every data analysis project. The basic terminology used is:<br>
1. **dataframe**: the file read is called a data frame
2. **read_csv**: taking a csv format file from the source presenting an output
3. **head**: by default shows only first 5 rows of data frame
4. **tail**: by default shows only last 5 rows of data frame
5. **shape**: shows the total number of rows, columns in the dataframe
6. **info**: shows the datatype of every column in data frame
7. **describe**: shows the statistics of the columns in dataframe
8. **columns**: display the column name of every column
9. **unique**: shows the unique value in a column
10. **iloc**: select rows/columns as per the index number
11. **loc**: select rows/columns on the basis of name
12. **value_counts**: count the total value of each type in a column
13. **sort_values**: sort the rows of the dataframe according to the column
14. **sort_index**: sort the rows of the dataframe on the basis of index
15. **concat**: join the dataframe on the basis of axis and type of join
        * axis = 0 (rows join)
        * axis = 1 (column join)   
        * join = outer, inner, left and right
16. **merge**: merge two or more dataframe on the basis of columns
        * how = left, right, inner and outer
17. **apply**: used with the dataframe to perform function on the rows or columns
18. **list comprehension**: single line command replacing loops using lambda
19. **groupby**: aggregate the dataframe on the basis of condition given
20. **crosstab**: create the excel like representation of the dataframe with given columns
21. **pivot_table**: useful to store multi index object in the dataframe

In [2]:
# Read a file and show first five rows
path = "/kaggle/input/data-of-energy-production-trade-consumption/SYB64_263_202110_Production Trade and Supply of Energy.csv"
df = pd.read_csv(path, encoding = "latin-1")
df.head()

,ID,Country/Region,Year,Series,Value
0,1,"Total, all countries or areas",1995,Primary energy production (petajoules),"3,82,594"
1,1,"Total, all countries or areas",2000,Primary energy production (petajoules),"4,13,334"
2,1,"Total, all countries or areas",2005,Primary energy production (petajoules),"4,77,637"
3,1,"Total, all countries or areas",2010,Primary energy production (petajoules),"5,31,540"
4,1,"Total, all countries or areas",2015,Primary energy production (petajoules),"5,70,407"

In [3]:
# Show last 5 row of the data frame
df.tail()

       ID Country/Region  Year                          Series Value
8405  716       Zimbabwe  2010  Supply per capita (gigajoules)    31
8406  716       Zimbabwe  2015  Supply per capita (gigajoules)    34
8407  716       Zimbabwe  2016  Supply per capita (gigajoules)    33
8408  716       Zimbabwe  2017  Supply per capita (gigajoules)    33
8409  716       Zimbabwe  2018  Supply per capita (gigajoules)    34

In [4]:
# show the total rows and columns in dataframe

shape = df.shape
rows = df.shape[0]
col = df.shape[1]

print("The shape of dataframe is: ", shape)
print("The number of columns are: ", col)
print("The number of rows are: ", rows)

The shape of dataframe is:  (8410, 5)
The number of columns are:  5
The number of rows are:  8410

In [5]:
# shows the information regarding the column type of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8410 entries, 0 to 8409
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              8410 non-null   int64
 1   Country/Region  8410 non-null   object
 2   Year            8410 non-null   int64
 3   Series          8410 non-null   object
 4   Value           8410 non-null   object
dtypes: int64(2), object(3)
memory usage: 328.6+ KB

From above we see that the column Value is object type but if we see the values present in the column we can see that they are interger with comma present. So inorder to convert the number fully to int64 we need to remove the comma.

In [6]:
# replace comma with no space in the value column 
df["Value"] = df["Value"].str.replace(",","").astype(int)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8410 entries, 0 to 8409
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              8410 non-null   int64
 1   Country/Region  8410 non-null   object
 2   Year            8410 non-null   int64
 3   Series          8410 non-null   object
 4   Value           8410 non-null   int64
dtypes: int64(3), object(2)
memory usage: 328.6+ KB

We can see that now the column type is correct. Also the second information we get is that there are no null values. This mean that for every column and every row some value is present in the dataframe.

In [8]:
# describe the numerical value in the dataframe. 
#Non-numeric columns can also be shown but that does not make much sense

numeric = df[["Value"]].describe()
non_numeric = df.describe(include = "all")

In [9]:
numeric

               Value
count    8410.000000
mean     2870.578002
std     26178.476701
min    -29521.000000
25%         3.000000
50%        44.000000
75%       271.000000
max    599931.000000

In [10]:
non_numeric

,ID,Country/Region,Year,Series,Value
count,8410.000000,8410,8410.000000,8410,8410.000000
unique,NaN,237,NaN,5,NaN
top,NaN,"Total, all countries or areas",NaN,Total supply (petajoules),NaN
freq,NaN,40,NaN,1825,NaN
mean,418.916528,NaN,2009.649227,NaN,2870.578002
std,257.622213,NaN,8.020348,NaN,26178.476701
min,1.000000,NaN,1995.000000,NaN,-29521.000000
25%,196.000000,NaN,2005.000000,NaN,3.000000
50%,414.000000,NaN,2015.000000,NaN,44.000000
75%,642.000000,NaN,2017.000000,NaN,271.000000
max,894.000000,NaN,2018.000000,NaN,599931.000000

In [11]:
# dispaly the column name
df.columns

Index(['ID', 'Country/Region', 'Year', 'Series', 'Value'], dtype='object')

In [12]:
# Display the unique value in the Series column
df.Series.unique()

array(['Primary energy production (petajoules)',
       'Net imports [Imports - Exports - Bunkers] (petajoules)',
       'Changes in stocks (petajoules)', 'Total supply (petajoules)',
       'Supply per capita (gigajoules)'], dtype=object)

In [13]:
# selecting a single column from the dataframe
df["Country/Region"]

0       Total, all countries or areas
1       Total, all countries or areas
2       Total, all countries or areas
3       Total, all countries or areas
4       Total, all countries or areas
                    ...
8405                         Zimbabwe
8406                         Zimbabwe
8407                         Zimbabwe
8408                         Zimbabwe
8409                         Zimbabwe
Name: Country/Region, Length: 8410, dtype: object

In [14]:
# selecting multiple column from the dataframe. 
#Please note the use of double square bracket when selecting the multiple column

df[["Year", "Value"]]

      Year   Value
0     1995  382594
1     2000  413334
2     2005  477637
3     2010  531540
4     2015  570407
...    ...     ...
8405  2010      31
8406  2015      34
8407  2016      33
8408  2017      33
8409  2018      34

[8410 rows x 2 columns]

In [15]:
# select forst 10 rows of the dataframe
df.iloc[:10]

,ID,Country/Region,Year,Series,Value
0,1,"Total, all countries or areas",1995,Primary energy production (petajoules),382594
1,1,"Total, all countries or areas",2000,Primary energy production (petajoules),413334
2,1,"Total, all countries or areas",2005,Primary energy production (petajoules),477637
3,1,"Total, all countries or areas",2010,Primary energy production (petajoules),531540
4,1,"Total, all countries or areas",2015,Primary energy production (petajoules),570407
5,1,"Total, all countries or areas",2016,Primary energy production (petajoules),569793
6,1,"Total, all countries or areas",2017,Primary energy production (petajoules),581831
7,1,"Total, all countries or areas",2018,Primary energy production (petajoules),599931
8,1,"Total, all countries or areas",1995,Net imports [Imports - Exports - Bunkers] (pet...,-8652
9,1,"Total, all countries or areas",2000,Net imports [Imports - Exports - Bunkers] (pet...,-10096

In [16]:
# all rows but only first 3 columns of data frame
df.iloc[:, :3]

       ID                 Country/Region  Year
0       1  Total, all countries or areas  1995
1       1  Total, all countries or areas  2000
2       1  Total, all countries or areas  2005
3       1  Total, all countries or areas  2010
4       1  Total, all countries or areas  2015
...   ...                            ...   ...
8405  716                       Zimbabwe  2010
8406  716                       Zimbabwe  2015
8407  716                       Zimbabwe  2016
8408  716                       Zimbabwe  2017
8409  716                       Zimbabwe  2018

[8410 rows x 3 columns]

In [17]:
# selct all rows of a given country
df[df["Country/Region"] == "Zimbabwe"]

,ID,Country/Region,Year,Series,Value
8371,716,Zimbabwe,1995,Primary energy production (petajoules),362
8372,716,Zimbabwe,2000,Primary energy production (petajoules),379
8373,716,Zimbabwe,2005,Primary energy production (petajoules),379
8374,716,Zimbabwe,2010,Primary energy production (petajoules),369
8375,716,Zimbabwe,2015,Primary energy production (petajoules),450
8376,716,Zimbabwe,2016,Primary energy production (petajoules),381
8377,716,Zimbabwe,2017,Primary energy production (petajoules),427
8378,716,Zimbabwe,2018,Primary energy production (petajoules),448
8379,716,Zimbabwe,1995,Net imports [Imports - Exports - Bunkers] (pet...,63
8380,716,Zimbabwe,2000,Net imports [Imports - Exports - Bunkers] (pet...,53
8381,716,Zimbabwe,2005,Net imports [Imports - Exports - Bunkers] (pet...,36
8382,716,Zimbabwe,2010,Net imports [Imports - Exports - Bunkers] (pet...,26
8383,716,Zimbabwe,2015,Net imports [Imports - Exports - Bunkers] (pet...,47
8384,716,Zimbabwe,2016,Net imports [Imports - Exports - Bunkers] (pet...,47
8385,716,Zimbabwe,2017,Net imports [Imports - Exports - Bunkers] (pet...,51
8386,716,Zimbabwe,2018,Net imports [Imports - Exports - Bunkers] (pet...,58
8387,716,Zimbabwe,1995,Changes in stocks (petajoules),5
8388,716,Zimbabwe,2000,Changes in stocks (petajoules),-5
8389,716,Zimbabwe,2005,Changes in stocks (petajoules),1
8390,716,Zimbabwe,2015,Changes in stocks (petajoules),24
8391,716,Zimbabwe,2016,Changes in stocks (petajoules),-38
8392,716,Zimbabwe,2017,Changes in stocks (petajoules),13
8393,716,Zimbabwe,2018,Changes in stocks (petajoules),7
8394,716,Zimbabwe,1995,Total supply (petajoules),421
8395,716,Zimbabwe,2000,Total supply (petajoules),438
8396,716,Zimbabwe,2005,Total supply (petajoules),414
8397,716,Zimbabwe,2010,Total supply (petajoules),394
8398,716,Zimbabwe,2015,Total supply (petajoules),473
8399,716,Zimbabwe,2016,Total supply (petajoules),465
8400,716,Zimbabwe,2017,Total supply (petajoules),465
8401,716,Zimbabwe,2018,Total supply (petajoules),498
8402,716,Zimbabwe,1995,Supply per capita (gigajoules),36
8403,716,Zimbabwe,2000,Supply per capita (gigajoules),35
8404,716,Zimbabwe,2005,Supply per capita (gigajoules),33
8405,716,Zimbabwe,2010,Supply per capita (gigajoules),31
8406,716,Zimbabwe,2015,Supply per capita (gigajoules),34
8407,716,Zimbabwe,2016,Supply per capita (gigajoules),33
8408,716,Zimbabwe,2017,Supply per capita (gigajoules),33
8409,716,Zimbabwe,2018,Supply per capita (gigajoules),34

In [18]:
# select all rows according to country and year
df.loc[(df["Country/Region"] == "Switzerland") & (df["Year"] == 2018)]

,ID,Country/Region,Year,Series,Value
7402,756,Switzerland,2018,Primary energy production (petajoules),518
7410,756,Switzerland,2018,Net imports [Imports - Exports - Bunkers] (pet...,460
7418,756,Switzerland,2018,Changes in stocks (petajoules),-19
7426,756,Switzerland,2018,Total supply (petajoules),997
7434,756,Switzerland,2018,Supply per capita (gigajoules),117

In [19]:
# sort the dataframe according to Year column
df_year = df.sort_values(by = "Year", ascending = False)
df_year.head()

,ID,Country/Region,Year,Series,Value
4205,404,Kenya,2018,Net imports [Imports - Exports - Bunkers] (pet...,219
3406,320,Guatemala,2018,Changes in stocks (petajoules),-3
3496,624,Guinea-Bissau,2018,Total supply (petajoules),32
3488,624,Guinea-Bissau,2018,Net imports [Imports - Exports - Bunkers] (pet...,5
3480,624,Guinea-Bissau,2018,Primary energy production (petajoules),26

In [20]:
#Multi-column sorting in pandas. 
#The priority is given to first variable that is year when sorting
df_multi_col = df.sort_values(by = ["Year", "Value"], ascending=False)
df_multi_col.head()

,ID,Country/Region,Year,Series,Value
7,1,"Total, all countries or areas",2018,Primary energy production (petajoules),599931
31,1,"Total, all countries or areas",2018,Total supply (petajoules),576587
191,142,Asia,2018,Total supply (petajoules),287605
167,142,Asia,2018,Primary energy production (petajoules),276234
1800,156,China,2018,Total supply (petajoules),129651

In [21]:
# Compared to above we can see the changes
df_multi_col1 = df.sort_values(by = [ "Value", "Year"], ascending=False)
df_multi_col1.head()

,ID,Country/Region,Year,Series,Value
7,1,"Total, all countries or areas",2018,Primary energy production (petajoules),599931
6,1,"Total, all countries or areas",2017,Primary energy production (petajoules),581831
31,1,"Total, all countries or areas",2018,Total supply (petajoules),576587
4,1,"Total, all countries or areas",2015,Primary energy production (petajoules),570407
5,1,"Total, all countries or areas",2016,Primary energy production (petajoules),569793

In [22]:
#sort as per the index. Also return the dataframe to original value
df_index = df.sort_index()
df_index.head()

,ID,Country/Region,Year,Series,Value
0,1,"Total, all countries or areas",1995,Primary energy production (petajoules),382594
1,1,"Total, all countries or areas",2000,Primary energy production (petajoules),413334
2,1,"Total, all countries or areas",2005,Primary energy production (petajoules),477637
3,1,"Total, all countries or areas",2010,Primary energy production (petajoules),531540
4,1,"Total, all countries or areas",2015,Primary energy production (petajoules),570407

In [23]:
# Concat the dataframe
df_c1 = df.iloc[:3]
df_c2 = df.iloc[3:8]

In [24]:
# concat data frame on rows and join is outer. This is default
# Keys help to retreive the joined data frame seperately
df_c = pd.concat([df_c1, df_c2], keys = [1, 2])
df_c

     ID                 Country/Region  Year  \
1 0   1  Total, all countries or areas  1995
  1   1  Total, all countries or areas  2000
  2   1  Total, all countries or areas  2005
2 3   1  Total, all countries or areas  2010
  4   1  Total, all countries or areas  2015
  5   1  Total, all countries or areas  2016
  6   1  Total, all countries or areas  2017
  7   1  Total, all countries or areas  2018

                                     Series   Value
1 0  Primary energy production (petajoules)  382594
  1  Primary energy production (petajoules)  413334
  2  Primary energy production (petajoules)  477637
2 3  Primary energy production (petajoules)  531540
  4  Primary energy production (petajoules)  570407
  5  Primary energy production (petajoules)  569793
  6  Primary energy production (petajoules)  581831
  7  Primary energy production (petajoules)  599931

In [25]:
# select only the df_c2 dataframe from the df_c dataframe
df_c.loc[2]

,ID,Country/Region,Year,Series,Value
3,1,"Total, all countries or areas",2010,Primary energy production (petajoules),531540
4,1,"Total, all countries or areas",2015,Primary energy production (petajoules),570407
5,1,"Total, all countries or areas",2016,Primary energy production (petajoules),569793
6,1,"Total, all countries or areas",2017,Primary energy production (petajoules),581831
7,1,"Total, all countries or areas",2018,Primary energy production (petajoules),599931

In [26]:
#change the axis of join as columns
# outer join: return all the records
df_c_outer = pd.concat([df_c1, df_c2], axis = 1, join = "outer")
df_c_outer

,ID,Country/Region,Year,Series,Value,ID,Country/Region,Year,Series,Value
0,1.0,"Total, all countries or areas",1995.0,Primary energy production (petajoules),382594.0,NaN,NaN,NaN,NaN,NaN
1,1.0,"Total, all countries or areas",2000.0,Primary energy production (petajoules),413334.0,NaN,NaN,NaN,NaN,NaN
2,1.0,"Total, all countries or areas",2005.0,Primary energy production (petajoules),477637.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1.0,"Total, all countries or areas",2010.0,Primary energy production (petajoules),531540.0
4,NaN,NaN,NaN,NaN,NaN,1.0,"Total, all countries or areas",2015.0,Primary energy production (petajoules),570407.0
5,NaN,NaN,NaN,NaN,NaN,1.0,"Total, all countries or areas",2016.0,Primary energy production (petajoules),569793.0
6,NaN,NaN,NaN,NaN,NaN,1.0,"Total, all countries or areas",2017.0,Primary energy production (petajoules),581831.0
7,NaN,NaN,NaN,NaN,NaN,1.0,"Total, all countries or areas",2018.0,Primary energy production (petajoules),599931.0

In [27]:
# inner join: take the common data from two dataframe
df_c_inner = pd.concat([df_c1, df_c2], axis = 1, join = "inner")
df_c_inner

Empty DataFrame
Columns: [ID, Country/Region, Year, Series, Value, ID, Country/Region, Year, Series, Value]
Index: []

In [28]:
#merge
df_1 = df[["ID", "Country/Region", "Year"]]
df_2 = df[["Year", "Series", "Value"]]

In [29]:
# outer: return all the values and merged dataframe on the basis of year column
df_m = pd.merge(df_1, df_2, on = "Year", how = "outer")
df_m

,ID,Country/Region,Year,Series,Value
0,1,"Total, all countries or areas",1995,Primary energy production (petajoules),382594
1,1,"Total, all countries or areas",1995,Net imports [Imports - Exports - Bunkers] (pet...,-8652
2,1,"Total, all countries or areas",1995,Changes in stocks (petajoules),229
3,1,"Total, all countries or areas",1995,Total supply (petajoules),373713
4,1,"Total, all countries or areas",1995,Supply per capita (gigajoules),65
...,...,...,...,...,...
8844419,716,Zimbabwe,2018,Primary energy production (petajoules),448
8844420,716,Zimbabwe,2018,Net imports [Imports - Exports - Bunkers] (pet...,58
8844421,716,Zimbabwe,2018,Changes in stocks (petajoules),7
8844422,716,Zimbabwe,2018,Total supply (petajoules),498
8844423,716,Zimbabwe,2018,Supply per capita (gigajoules),34

In [30]:
#inner what is common between the values
df_m_inner = pd.merge(df_1, df_2, on = "Year", how = "inner")
df_m_inner

,ID,Country/Region,Year,Series,Value
0,1,"Total, all countries or areas",1995,Primary energy production (petajoules),382594
1,1,"Total, all countries or areas",1995,Net imports [Imports - Exports - Bunkers] (pet...,-8652
2,1,"Total, all countries or areas",1995,Changes in stocks (petajoules),229
3,1,"Total, all countries or areas",1995,Total supply (petajoules),373713
4,1,"Total, all countries or areas",1995,Supply per capita (gigajoules),65
...,...,...,...,...,...
8844419,716,Zimbabwe,2018,Primary energy production (petajoules),448
8844420,716,Zimbabwe,2018,Net imports [Imports - Exports - Bunkers] (pet...,58
8844421,716,Zimbabwe,2018,Changes in stocks (petajoules),7
8844422,716,Zimbabwe,2018,Total supply (petajoules),498
8844423,716,Zimbabwe,2018,Supply per capita (gigajoules),34

In [31]:
# apply: use list comprehension to select first row
df.apply(lambda x: x [0])

ID                                                     1
Country/Region             Total, all countries or areas
Year                                                1995
Series            Primary energy production (petajoules)
Value                                             382594
dtype: object

In [32]:
#Select first column
df.apply(lambda x: x[0], axis = 1)

0         1
1         1
2         1
3         1
4         1
       ...
8405    716
8406    716
8407    716
8408    716
8409    716
Length: 8410, dtype: int64

In [33]:
# select the value column from the dataframe
df.apply(lambda x : x["Value"], axis = 1)

0       382594
1       413334
2       477637
3       531540
4       570407
         ...
8405        31
8406        34
8407        33
8408        33
8409        34
Length: 8410, dtype: int64

In [34]:
# slice the dataframe on the basis of country and Series
df_india = df.loc[(df["Country/Region"] == "India") & (df["Series"] == "Primary energy production (petajoules)")]

In [35]:
# calculate the mean of the value
df_india.Value.mean()

20546.125

In [36]:
# clipping values
def clip_price(price):
    if price > 20546.125:
        price = 20546.125
    return price

df_india["New_Value"] = df_india["Value"].apply(lambda x : clip_price(x))
df_india

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,ID,Country/Region,Year,Series,Value,New_Value
3698,356,India,1995,Primary energy production (petajoules),14212,14212.000
3699,356,India,2000,Primary energy production (petajoules),15763,15763.000
3700,356,India,2005,Primary energy production (petajoules),18212,18212.000
3701,356,India,2010,Primary energy production (petajoules),22888,20546.125
3702,356,India,2015,Primary energy production (petajoules),22818,20546.125
3703,356,India,2016,Primary energy production (petajoules),23219,20546.125
3704,356,India,2017,Primary energy production (petajoules),23410,20546.125
3705,356,India,2018,Primary energy production (petajoules),23847,20546.125

In [37]:
# label the year
def code_year(Year):
    if Year >= 1995 and Year <= 2000:
        label = 1
    elif Year > 2000 and Year <= 2005:
        label = 2
    elif Year > 2005 and Year <= 2010:
        label = 3
    elif Year > 2010 and Year <= 2020:
        label = 4
    
    return label
df_india["year_label"] = df_india["Year"].apply(lambda x : code_year(x))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [38]:
df_india

,ID,Country/Region,Year,Series,Value,New_Value,year_label
3698,356,India,1995,Primary energy production (petajoules),14212,14212.000,1
3699,356,India,2000,Primary energy production (petajoules),15763,15763.000,1
3700,356,India,2005,Primary energy production (petajoules),18212,18212.000,2
3701,356,India,2010,Primary energy production (petajoules),22888,20546.125,3
3702,356,India,2015,Primary energy production (petajoules),22818,20546.125,4
3703,356,India,2016,Primary energy production (petajoules),23219,20546.125,4
3704,356,India,2017,Primary energy production (petajoules),23410,20546.125,4
3705,356,India,2018,Primary energy production (petajoules),23847,20546.125,4

In [39]:
# group the dataframe on the basis of countries and select only the first entry
df_country = df.groupby("Country/Region").first()
df_country

,ID,Year,Series,Value
Country/Region,,,,
Afghanistan,4,1995,Primary energy production (petajoules),16
Africa,2,1995,Primary energy production (petajoules),32334
Albania,8,1995,Primary energy production (petajoules),43
Algeria,12,1995,Primary energy production (petajoules),4748
Andorra,20,1995,Primary energy production (petajoules),0
...,...,...,...,...
Viet Nam,704,1995,Primary energy production (petajoules),1136
Wallis and Futuna Islands,876,2010,Primary energy production (petajoules),0
Yemen,887,1995,Primary energy production (petajoules),713
Zambia,894,1995,Primary energy production (petajoules),224
Zimbabwe,716,1995,Primary energy production (petajoules),362

In [40]:
df_country["Value"].mean()

4850.940928270043

In [41]:
# selecting dataframe with multiple column in groupby
df_country_year = df.groupby(["Year", "Country/Region"]).first()
df_country_year

                                 ID                                  Series  \
Year Country/Region
1995 Afghanistan                  4  Primary energy production (petajoules)
     Africa                       2  Primary energy production (petajoules)
     Albania                      8  Primary energy production (petajoules)
     Algeria                     12  Primary energy production (petajoules)
     Andorra                     20  Primary energy production (petajoules)
...                             ...                                     ...
2018 Viet Nam                   704  Primary energy production (petajoules)
     Wallis and Futuna Islands  876  Primary energy production (petajoules)
     Yemen                      887  Primary energy production (petajoules)
     Zambia                     894  Primary energy production (petajoules)
     Zimbabwe                   716  Primary energy production (petajoules)

                                Value
Year Country/Region
1995 Afghanistan                   16
     Africa                     32334
     Albania                       43
     Algeria                     4748
     Andorra                        0
...                               ...
2018 Viet Nam                    2553
     Wallis and Futuna Islands      0
     Yemen                         74
     Zambia                       469
     Zimbabwe                     448

[1825 rows x 3 columns]

In [42]:
# crosstab: check the Series value for each country
df_crosstab = pd.crosstab( df["Country/Region"], df["Series"], margins = True)
df_crosstab

Series,Changes in stocks (petajoules),Net imports [Imports - Exports - Bunkers] (petajoules),Primary energy production (petajoules),Supply per capita (gigajoules),Total supply (petajoules),All
Country/Region,,,,,,
Afghanistan,2,8,8,8,8,34
Africa,8,8,8,8,8,40
Albania,7,8,8,8,8,39
Algeria,8,8,8,8,8,40
Andorra,0,8,8,8,8,32
...,...,...,...,...,...,...
Wallis and Futuna Islands,0,6,5,6,6,23
Yemen,4,8,8,8,8,36
Zambia,4,8,8,8,8,36
Zimbabwe,7,8,8,8,8,39
All,1207,1816,1753,1809,1825,8410

In [43]:
df.loc[(df["Country/Region"] == "Afghanistan") & (df["Series"] == "Changes in stocks (petajoules)")]

     ID Country/Region  Year                          Series  Value
296   4    Afghanistan  1995  Changes in stocks (petajoules)      0
297   4    Afghanistan  2000  Changes in stocks (petajoules)      0

Above shows that for Afghanistan the Series value "Changes in stocks (petajoules)" appears 2 times which is cross matched with the crosstab command

In [44]:
# pivot_table: check the mean for each year
pd.pivot_table(df, index = ["Year"], values = "Value")

            Value
Year
1995  2228.114286
2000  2390.735294
2005  2677.513359
2010  2951.660697
2015  3121.141518
2016  3081.103448
2017  3175.712008
2018  3285.035849

In [45]:
# check the value of each Series items year wise
pd.pivot_table(df, index = ["Year", "Series"], values = "Value")

                                                               Value
Year Series
1995 Changes in stocks (petajoules)                         4.790210
     Net imports [Imports - Exports - Bunkers] (peta...  -116.882883
     Primary energy production (petajoules)              5518.177885
     Supply per capita (gigajoules)                        81.666667
     Total supply (petajoules)                           5027.502242
2000 Changes in stocks (petajoules)                       -62.253521
     Net imports [Imports - Exports - Bunkers] (peta...  -135.232143
     Primary energy production (petajoules)              5904.761905
     Supply per capita (gigajoules)                        86.927273
     Total supply (petajoules)                           5439.991071
2005 Changes in stocks (petajoules)                        -5.837838
     Net imports [Imports - Exports - Bunkers] (peta...  -174.943231
     Primary energy production (petajoules)              6603.253456
     Supply per capita (gigajoules)                        90.488889
     Total supply (petajoules)                           6086.000000
2010 Changes in stocks (petajoules)                         1.575949
     Net imports [Imports - Exports - Bunkers] (peta...  -170.943231
     Primary energy production (petajoules)              7248.290909
     Supply per capita (gigajoules)                        92.262222
     Total supply (petajoules)                           6791.379913
2015 Changes in stocks (petajoules)                        47.487179
     Net imports [Imports - Exports - Bunkers] (peta...  -247.482456
     Primary energy production (petajoules)              7673.659193
     Supply per capita (gigajoules)                        89.852174
     Total supply (petajoules)                           7162.539130
2016 Changes in stocks (petajoules)                      -103.981250
     Net imports [Imports - Exports - Bunkers] (peta...  -292.127193
     Primary energy production (petajoules)              7597.262222
     Supply per capita (gigajoules)                        89.100000
     Total supply (petajoules)                           7214.734783
2017 Changes in stocks (petajoules)                       -38.915033
     Net imports [Imports - Exports - Bunkers] (peta...  -276.763158
     Primary energy production (petajoules)              7757.742222
     Supply per capita (gigajoules)                        89.295652
     Total supply (petajoules)                           7340.586957
2018 Changes in stocks (petajoules)                         6.639456
     Net imports [Imports - Exports - Bunkers] (peta...  -302.868421
     Primary energy production (petajoules)              7999.102222
     Supply per capita (gigajoules)                        89.804348
     Total supply (petajoules)                           7520.708696

In [46]:
# calculte other aggregation functions for the Value
pd.pivot_table(df, index = ["Year", "Series"], values = "Value",
              aggfunc = [np.mean, np.median, max, min, np.std])

                                                                mean median  \
                                                               Value  Value
Year Series
1995 Changes in stocks (petajoules)                         4.790210    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -116.882883   10.5
     Primary energy production (petajoules)              5518.177885  142.5
     Supply per capita (gigajoules)                        81.666667   39.0
     Total supply (petajoules)                           5027.502242  151.0
2000 Changes in stocks (petajoules)                       -62.253521    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -135.232143   10.5
     Primary energy production (petajoules)              5904.761905  142.0
     Supply per capita (gigajoules)                        86.927273   41.5
     Total supply (petajoules)                           5439.991071  168.5
2005 Changes in stocks (petajoules)                        -5.837838    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -174.943231   11.0
     Primary energy production (petajoules)              6603.253456  152.0
     Supply per capita (gigajoules)                        90.488889   46.0
     Total supply (petajoules)                           6086.000000  177.0
2010 Changes in stocks (petajoules)                         1.575949    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -170.943231   12.0
     Primary energy production (petajoules)              7248.290909  164.5
     Supply per capita (gigajoules)                        92.262222   48.0
     Total supply (petajoules)                           6791.379913  203.0
2015 Changes in stocks (petajoules)                        47.487179    1.0
     Net imports [Imports - Exports - Bunkers] (peta...  -247.482456   13.0
     Primary energy production (petajoules)              7673.659193  181.0
     Supply per capita (gigajoules)                        89.852174   53.5
     Total supply (petajoules)                           7162.539130  235.5
2016 Changes in stocks (petajoules)                      -103.981250    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -292.127193   17.0
     Primary energy production (petajoules)              7597.262222  176.0
     Supply per capita (gigajoules)                        89.100000   54.5
     Total supply (petajoules)                           7214.734783  240.0
2017 Changes in stocks (petajoules)                       -38.915033    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -276.763158   18.0
     Primary energy production (petajoules)              7757.742222  180.0
     Supply per capita (gigajoules)                        89.295652   54.5
     Total supply (petajoules)                           7340.586957  236.0
2018 Changes in stocks (petajoules)                         6.639456    0.0
     Net imports [Imports - Exports - Bunkers] (peta...  -302.868421   19.0
     Primary energy production (petajoules)              7999.102222  175.0
     Supply per capita (gigajoules)                        89.804348   53.5
     Total supply (petajoules)                           7520.708696  260.0

                                                            max    min  \
                                                          Value  Value
Year Series
1995 Changes in stocks (petajoules)                         618   -918
     Net imports [Imports - Exports - Bunkers] (peta...   16735 -16073
     Primary energy production (petajoules)              382594      0
     Supply per capita (gigajoules)                        1090      0
     Total supply (petajoules)                           373713      0
2000 Changes in stocks (petajoules)                         261  -2947
     Net imports [Imports - Exports - Bunkers] (peta...   23551 -15797
     Primary energy production (petajoules)              413334      0
     Supply per capita (gigajoules)                         975      1
     Total supply (petajoules)                           406186      0
2005 Changes in stocks (petajoules)                         583   -752
     Net imports [Imports - Exports - Bunkers] (peta...   28783 -22870
     Primary energy production (petajoules)              477637      0
     Supply per capita (gigajoules)                         886      1
     Total supply (petajoules)                           464565      0
2010 Changes in stocks (petajoules)                        1651  -1193
     Net imports [Imports - Exports - Bunkers] (peta...   20355 -24601
     Primary energy production (petajoules)              531540      0
     Supply per capita (gigajoules)                         869      4
     Total supply (petajoules)                           518411      0
2015 Changes in stocks (petajoules)                        2469   -187
     Net imports [Imports - Exports - Bunkers] (peta...   18874 -27007
     Primary energy production (petajoules)              570407      0
     Supply per capita (gigajoules)                         949      0
     Total supply (petajoules)                           549127      0
2016 Changes in stocks (petajoules)                         133  -5545
     Net imports [Imports - Exports - Bunkers] (peta...   21705 -28035
     Primary energy production (petajoules)              569793      0
     Supply per capita (gigajoules)                         958      1
     Total supply (petajoules)                           553132      0
2017 Changes in stocks (petajoules)                         669  -1982
     Net imports [Imports - Exports - Bunkers] (peta...   24290 -28641
     Primary energy production (petajoules)              581831      0
     Supply per capita (gigajoules)                         980      1
     Total supply (petajoules)                           562778      0
2018 Changes in stocks (petajoules)                        1852  -1029
     Net imports [Imports - Exports - Bunkers] (peta...   27176 -29521
     Primary energy production (petajoules)              599931      0
     Supply per capita (gigajoules)                        1087      1
     Total supply (petajoules)                           576587      0

                                                                  std
                                                                Value
Year Series
1995 Changes in stocks (petajoules)                        134.832335
     Net imports [Imports - Exports - Bunkers] (peta...   3051.504264
     Primary energy production (petajoules)              30042.655987
     Supply per capita (gigajoules)                        113.082877
     Total supply (petajoules)                           28768.687180
2000 Changes in stocks (petajoules)                        360.605016
     Net imports [Imports - Exports - Bunkers] (peta...   3578.482826
     Primary energy production (petajoules)              32208.819281
     Supply per capita (gigajoules)                        117.715485
     Total supply (petajoules)                           31204.276175
2005 Changes in stocks (petajoules)                        104.582751
     Net imports [Imports - Exports - Bunkers] (peta...   4207.685451
     Primary energy production (petajoules)              36817.849907
     Supply per capita (gigajoules)                        116.553372
     Total supply (petajoules)                           35423.363822
2010 Changes in stocks (petajoules)                        212.160055
     Net imports [Imports - Exports - Bunkers] (peta...   3867.533700
     Primary energy production (petajoules)              41100.597910
     Supply per capita (gigajoules)                        115.886327
     Total supply (petajoules)                           39894.223154
2015 Changes in stocks (petajoules)                        307.489491
     Net imports [Imports - Exports - Bunkers] (peta...   3956.798484
     Primary energy production (petajoules)              44061.228893
     Supply per capita (gigajoules)                        114.371741
     Total supply (petajoules)                           42524.410753
2016 Changes in stocks (petajoules)                        550.230683
     Net imports [Imports - Exports - Bunkers] (peta...   4158.426473
     Primary energy production (petajoules)              43817.951636
     Supply per capita (gigajoules)                        110.719810
     Total supply (petajoules)                           42833.362495
2017 Changes in stocks (petajoules)                        261.348601
     Net imports [Imports - Exports - Bunkers] (peta...   4284.327383
     Primary energy production (petajoules)              44745.373111
     Supply per capita (gigajoules)                        110.246605
     Total supply (petajoules)                           43626.516979
2018 Changes in stocks (petajoules)                        234.993936
     Net imports [Imports - Exports - Bunkers] (peta...   4484.524812
     Primary energy production (petajoules)              46223.328527
     Supply per capita (gigajoules)                        114.179132
     Total supply (petajoules)                           44798.047432

The above present the a egale eye view of the basics of pandas used in data analysis. Please feel free to play around with the commands.<br>
The above notebook is based on the various articles and videos presnt on the analyticsvidhya website.<br>
If you like the work please upvote and if you have any suggestions please do comment. Till next notebook!<br>